@charset "utf-8";

/*#lander-landing-sections-editors {
	background-color: #eee;
	padding: 0.618em 1.2em;
	margin-top: 2em;
	margin-bottom: 2em;
	border: 1px solid #ccc;
}
*/
#lander-landing-sections-editors .section-title {
	margin-bottom: 1em;
}
.class-prompt-text {
    display:block;
}
#lander-landing-sections-editors .section-title input,
.landing-section-stuff .section-title input {
	font-size: 1.2em;
	outline: 0 none;
    padding: 10px;
    width: 100%;
	margin-top: 5px;
}
